@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

/* header styles */


header {
    padding-top: 3px;
    display: flex;
    justify-content: space-evenly;
}


.nav-items ul {
    color: gray;
    padding-top: 15px;
    display: flex;
    list-style: none;
    gap: 40px;
    font-weight: 600;
    font-size: large;
} 

.nav-items ul li:hover {
    text-decoration: underline;
    color: black;
}


/* about us */

.about-h1 {
    font-size: 80px;
    margin-bottom: 0;
    padding-bottom: 0;
    color: purple;
}

.about-us p {
    max-width: 700px;
}

.about-us-main {
    display: flex;
    justify-content: space-evenly;
}

.us {
    color:  rgb(235, 188, 100);
} 

.us:hover {
    color: orange;
}

.about-us {
    padding-left: 180px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-us div p {
    color: orange;
    font-size: 20px;
    margin-top: 0;
    padding-top: 0;
}

.cars-images {
    display: flex;
    padding-top: 100px;
    justify-content: center;
    width: 100%;
    height: max(20vw, 100px);
}

.cars-images img {
    border-radius: 30px;
}


/* 
footer  */

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 90;
}

.about-us-all {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* 
courousel */

.carousel-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .slide {
    max-width: 80px;
    max-height: 80px; /* Adjust height as needed */
  }
  
  button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.5rem;
  }
  

