@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

/* header styles */

.nav-items ul li a {
    color: gray;
    text-decoration: none;
}

header {
    padding-top: 3px;
    display: flex;
    justify-content: space-evenly;
}


.nav-items ul {
    color: gray;
    padding-top: 15px;
    display: flex;
    list-style: none;
    gap: 40px;
    font-weight: 600;
    font-size: large;
} 

.nav-items ul li a:hover {
    text-decoration: underline;
    color: black;
}


/* about us */

.about-h1 {
    font-size: 80px;
    margin-bottom: 0;
    padding-bottom: 0;
    color: purple;
}

.about-us-all {
    background-image: url();
}

.about-us p {
    max-width: 500px;
}

.about-us-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.us {
    color:  rgb(235, 188, 100);
} 

.us:hover {
    color: orange;
}

.about-image {
    transition: transform 0.3s ease-in-out;
}

.about-image:hover {
    transform: scale(1.1);
}

.about-us {
    padding-left: 40px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-us div p {
    color: orange;
    font-size: 20px;
    margin-top: 0;
    padding-top: 0;
}

.cars-images {
    display: flex;
    padding-top: 100px;
    justify-content: center;
    width: 100%;
    height: max(20vw, 100px);
}

.cars-images-about img {
    width: 700px;
    margin-top: 100px;
    border-radius: 30px;
}

.btn-box button {
    border-radius: 10px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: bolder;
    background-color: orange;
    border-style: none;
    color: white;
    transition: background-color 0.3s ease;
}

.btn-box button a {
    color: white;
    text-decoration: none;
}

.btn-box button:hover {
    background-color: purple;
}


/* 
footer  */

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 90;
}

.about-us-all {
    display: flex;
    flex-direction: column;
    justify-content: end;
}


/* cars  */

.features {
    display: flex;
    justify-content: space-evenly;
    gap:200px;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-top: 120px;
    max-width: 1500px;
    padding-bottom: 80px;
    margin-bottom: 50px;
}

.icon {
    font-size: 50px;
    padding-left: 140px;
    color: gray;
}

.icon:hover {
    color: purple;
}

.components h3 {
    align-items: center;
    align-self: center;
}

.page-header {
    padding-left: 40px;
}

.page-header h1 {
    font-size: 80px;
    color: orange;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.page-header-paragraph {
    margin-top: 0px;
    padding-top: 0px;
    color: purple;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0pcx;
    padding-bottom: 0px;
}

.components h3 {
    color: gray;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.components p {
    margin-top: 0px;
    padding-top: 0px;
    color: gray;
}

.main-cars {
    padding-left: 40px;
    padding-top: 10px;
    padding-right: 40px;
}

.cars-images {
    padding-top: 0px;
}

.rental-cars {
    display: flex;
    flex-wrap: wrap;
    gap: 110px;
    padding-left: 30px;
    padding-top: 0;
}

.icon-cart {
    transition: transform 0.3s ease-in-out;
}

.icon-cart:hover {
    transform: scale(1.1);
}

/* card */

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    transform: scale(1.08);
    }

  .card img {
    width: 100%;
    height: auto;
  }

  .card-content {
    padding: 16px;
  }

  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .card-text {
    font-size: 14px;
    color: #555;
  }

  .icon-cart{
    font-size: 30px;
    color: gray;
    margin-bottom: 0px;
    margin-left: 110px;
    margin-top: 0px;
  }

  .icon-cart:hover {
    color: orange;
  }

  /* carousel */

  .carousel {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 40px;
     margin-top: 0px;
     padding-top: 0px;
  }

  .slide {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    max-width: 100%;
    max-height: 100%;
    margin-top: 0;
    padding-top: 0;
  }

  .carousel {
    position: relative;
  }
  
  .slide {
    height: 200px;
    transition: transform 0.3s ease-in-out;
  }
  
  .slide:hover {
    transform: scale(1.1);
    z-index: 1; 
  }


